@import url('https://fonts.googleapis.com/css2?family=Crete+Round:ital@0;1&family=Inter:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;600;800&family=Roboto:wght@700&display=swap');

body {
  margin: 0%;
}

.roboto-f {
  font-family: 'Roboto', sans-serif;
}

.popins-f {
  font-family: 'Poppins', sans-serif;
}

.crete-f {
  font-family: 'Crete Round', serif;
}

.inter-f {
  font-family: 'Inter', sans-serif;
}

.f-weight400 {
  font-weight: 400;
}

.f-weight500 {
  font-weight: 500;
}

.f-weight700 {
  font-weight: 700;
}

.f-weight800 {
  font-weight: 800;
}

.f-size-72 {
  font-size: 72px;
}

.f-size-56 {
  font-size: 56px;
}

.f-size-44 {
  font-size: 44px;
}

.f-size-42 {
  font-size: 42px;
}

.f-size-40 {
  font-size: 40px;
}

.f-size-32 {
  font-size: 32px;
}

.f-size-26 {
  font-size: 26px;
}

.f-size-22 {
  font-size: 22px;
}

.f-size-18 {
  font-size: 18px;
}

.f-size-17 {
  font-size: 17px;
}

.f-size-16 {
  font-size: 16px;
}

.f-size-15 {
  font-size: 15px;
}

.l-height-88 {
  line-height: 88px;
}

.l-height-64 {
  line-height: 64px;
}

.l-height-52 {
  line-height: 52px;
}

.l-height-24 {
  line-height: 24px;
}

.l-height-20 {
  line-height: 20px;
}

.l-height-44 {
  line-height: 44.67px;
}

.l-height-43 {
  line-height: 44px;
}

.l-height-42 {
  line-height: 42.67px;
}

.backorange {
  background-color: #ff6b00;
}

.white-1 {
  color: #fff5e1;
}

.white-2 {
  color: #fff;
}

.orange {
  color: #ff6b00;
}

.black {
  color: #1c1a19;
}

.closer img {
  margin-left: 85%;
}

.social img {
  height: 20px;
}

.navigation img {
  filter: invert(99%) sepia(1%) saturate(0%) hue-rotate(78deg) brightness(108%) contrast(100%);
  margin-left: auto;
  align-self: center;
}

.social img:hover {
  transform: scale(1.2);
}

p {
  margin: 5% 0%;
}

.social li {
  list-style: none;
}

.project-1 li {
  color: #fff;
}

.navigation {
  max-width: 1000px;
  background-color: #3c3a39;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2% 5%;
}

a {
  color: rgb(248, 246, 246);
  text-decoration: none;
  display: inline-block;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
}

.project-1 a {
  border: none;
  background-color: rgb(255, 255, 255, 0.24);
  margin: 3% 4% 3% 0%;
  text-decoration: none;
  padding: 3% 4%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s ease-out;
  text-align: center;
}

.project-1 ul {
  list-style: none;
  margin-top: 5%;
  display: inline;
  margin-left: 0%;
  padding-left: 0;
}

.projectlist a {
  margin: 3% 0%;
  color: #1c1a19;
  text-decoration: none;
  border: 1px solid black;
  padding: 3% 4%;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  transition: all 0.5s ease-out;
}

a:hover {
  background: rgb(43, 43, 156, 0.2);
}

.button1 a {
  background-color: #ff6b00;
  margin: 1% 0%;
  text-decoration: none;
  border: none;
  padding: 2% 4%;
}

.button2 a {
  width: 103.1%;
  background-color: #ff6b00;
  margin: 0% 0% -5% -5.5%;
  text-decoration: none;
  border: none;
  padding: 4% 4%;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.overlaydiv a {
  border: 1px solid black;
  margin-right: 4%;
  padding: 3% 4%;
}

.navigation a:hover {
  letter-spacing: 3px;
  word-spacing: 0.3em;
  font-size: 32px;
  transform: translate(3ch, 3mm);
  font-family: 'Crete Round', serif;
}

.desktopmenu ul {
  display: none;
}

.wrapper {
  max-width: 1000px;
  margin: 0;
  padding: 0% 5% 5% 5%;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  background-image: url("img/illustration-header-mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  height: 100vh;
  justify-content: center;
}

.wrapper h1 {
  margin: 0% 0%;
}

.wrapper h2 {
  margin-top: 0%;
}

.works {
  display: grid;
  margin: 5%;
}

.works-1 {
  display: grid;
}

.works p {
  margin-bottom: 0%;
}

.works h1 {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

.projectlist ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.project-1 {
  max-width: 1000px;
  margin: 5% 0% 0% 0%;
  padding: 3% 5%;
  display: grid;
  background-image: url("img/Img\ Placeholder.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
}

.desktopversion {
  max-width: 1000px;
  margin: 5% 0% 15% 0%;
  padding: 3% 5%;
  display: grid;
}

.rule {
  width: 85%;
  opacity: 0.7;
  margin-bottom: 15%;
}

.rule-2 {
  margin: 3% 0% 30% 0%;
  padding: 0%;
  width: 85%;
  align-self: center;
}

.rule-3 {
  margin: 0%;
  padding: 0%;
  width: 100%;
  align-self: center;
}

.rule-4 {
  width: 40%;
  background: #1c1a19;
  border: 1px solid #0d151e;
  border-radius: 7px 7px 7px 7px;
  height: 2px;
  align-self: center;
}

.rule-5 {
  margin: 3% 0% 15% 0%;
  padding: 0%;
  width: 100%;
  align-self: center;
}

.rule-6 {
  margin: 3% 0% 5% 0%;
  padding: 0%;
  width: 100%;
  align-self: center;
}

.rule-7 {
  margin-top: -40%;
  width: 40%;
  background: #1c1a19;
  border: 1px solid #050505;
  border-radius: 7px 7px 7px 7px;
  height: 2px;
}

.rule-8 {
  width: 85%;
  opacity: 0.7;
  margin-bottom: 57%;
}

.social ul {
  width: 60%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

.webitem {
  padding-bottom: 0%;
}

.project-1 h1 {
  padding-top: 20%;
  margin-bottom: 0%;
}

.projectlist2 {
  margin-bottom: 3%;
}

.projectlist2 ul {
  padding: 0%;
}

.button1 a:hover {
  background-color: #e05304;
}

.button2 a:hover {
  background-color: #e05304;
}

.about {
  background-image: url("img/illustration-about-me-mobile.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  max-width: 1000px;
  margin: 0;
  padding: 50% 5%;
  background-color: #1c1a19;
  justify-content: center;
}

.about p {
  padding: 5% 0%;
  margin: 0%;
}

.about h1 {
  margin: 0%;
}

.languages {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  padding-top: 0%;
  padding-bottom: 30%;
}

.language ul {
  margin: 0%;
  padding: 0%;
  list-style: none;
  font-family: 'Inter', sans-serif;
  color: #fff;
  line-height: 42.67px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact {
  max-width: 1000px;
  padding: 5%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.contact button {
  margin-top: 10%;
  margin-bottom: 30%;
  background-color: #ff6b00;
  border: none;
  padding: 5% 2%;
  width: 50%;
  align-self: center;
}

.contact button:hover {
  background-color: #e05304;
}

form {
  display: flex;
  flex-direction: column;
  width: auto;
}

input {
  border: none;
}

textarea {
  background-color: #e9e5e3;
  width: 100%;
  height: 100px;
  border: none;
}

.contact p {
  padding: 20% 0%;
  text-align: center;
}

.gray {
  filter: invert(100%) sepia(5%) saturate(591%) hue-rotate(163deg) brightness(96%) contrast(87%);
}

footer .social {
  display: flex;
  justify-content: space-around;
  margin: 5% 0%;
}

.languages li {
  padding: 1%;
}

.open {
  background-color: #1c1a19;
  backdrop-filter: blur(5px);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: none;
}

.close {
  position: fixed;
  right: 2%;
  padding: 8px;
}

.dynaaa {
  margin-top: 30%;
  margin-left: 7%;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 44px;
  font-size: 32px;
}

.dynaab {
  margin-top: 1%;
  margin-left: 7%;
  font-family: 'Inter', sans-serif;
  color: #fff;
  font-weight: 700;
  line-height: 44px;
  font-size: 32px;
}

.dynadiv {
  background-color: #fff;
}

.openover {
  position: fixed;
  display: none;
  width: 90%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgb(255, 255, 255);
  padding: 5%;
  overflow-y: scroll;
}

.overlaydiv h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #050505;
  margin: 1%;
}

.overlaydiv p {
  width: 90%;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #050505;
  margin: 5% 0%;
}

.overlaydiv ul {
  margin: 6% 0% 5% 0%;
  padding: 0%;
  list-style: none;
  color: #050505;
}

.overlaydiv li {
  color: #050505;
}

.overlaydiv .buttonproject {
  border: none;
  background-color: #e05304;
}

.buttonproject li {
  color: #e9e5e3;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.overlaydiv .imageproject {
  width: 95%;
}

.testing {
  position: absolute;
  filter: blur(8px);
  opacity: 0.9;
  width: 100%;
  height: 100%;
  background-image: url("img/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.overlaydiv {
  padding: 2% 2% 2% 7%;
  background-color: rgb(255, 255, 255);
  z-index: 2;
}

.overlaydiv .closer {
  display: flex;
  margin-left: auto;
}

@media (min-width: 764px) and (max-width: 1368px) {
  .openover {
    padding-left: 14%;
  }

  .navigation {
    max-width: 1368px;
    padding: 0.5% 2%;
  }

  .navigation .menu {
    display: none;
  }

  .navigation a {
    padding-left: 9%;
  }

  .navigation img {
    filter: invert(0%) sepia(1%) saturate(0%) hue-rotate(78deg) brightness(108%) contrast(100%);
  }

  .desktopmenu ul {
    display: flex;
    list-style: none;
    align-items: center;
  }

  .desktopmenu {
    margin-left: auto;
    margin-right: 17%;
  }

  .desktopmenu img {
    padding-top: 2%;
  }

  .desktopmenu a {
    margin: 3% 2%;
    color: #fcfaf9;
    text-decoration: none;
    border: none;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
  }

  .wrapper {
    background-image: url("img/Illustration-header.svg");
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: 45%;
    max-width: 1368px;
    padding-left: 2%;
  }

  .profile {
    width: 45%;
    display: grid;
    grid-template-columns: 20% auto;
  }

  .profile h1 {
    font-size: 72px;
    line-height: 81.5px;
  }

  .profile h2 {
    font-size: 32px;
    line-height: 44px;
    margin-bottom: 1%;
  }

  .profile p {
    margin-top: 0%;
    font-size: 20px;
    line-height: 32px;
  }

  .social {
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .social ul {
    flex-direction: column;
    padding-top: 80%;
    padding-right: 0%;
    height: 50%;
  }

  .works {
    grid-template-columns: 50% auto;
  }

  .center {
    justify-self: start;
  }

  .works h1 {
    padding: 0%;
    margin: 12% 0% 10% 11%;
    grid-column: 1/2;
  }

  .rule {
    margin-top: 16%;
    margin-left: -35%;
    width: 110%;
    background: #080808;
    border: 1px;
    border-radius: 7px 7px 7px 7px;
    height: 1px;
    grid-column: 2/4;
    display: grid;
  }

  .works img {
    grid-column: 1/3;
    grid-row: 2/6;
    margin-left: 10%;
    width: 90%;
    content: url("img/Img\ Placeholder-desktop.png");
  }

  .description h2 {
    margin-bottom: 0%;
    font-family: 'Crete Round', serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
  }

  .description p {
    font-size: 20px;
    line-height: 28px;
  }

  .projectlist a {
    margin-right: 3%;
  }

  .about p {
    width: 40%;
    margin: 0%;
    padding: 2% 0% 2% 5%;
    font-size: 20px;
    line-height: 32px;
  }

  .about h1 {
    margin-bottom: 0%;
    padding-left: 5%;
  }

  .contact p {
    padding: 0%;
    width: 40%;
    text-align: left;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .language ul {
    align-items: flex-start;
  }

  .projectlist ul {
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: flex;
    justify-content: space-between;
  }

  footer .social ul {
    padding: 0%;
    margin: 0%;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .overlaydiv {
    padding: 2%;
    width: 80%;
    position: absolute;
    top: 5%;
    left: 5%;
    margin: 0%;
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-bottom: 5%;
  }

  .overlaydiv h1 {
    padding: 0%;
    font-family: 'Crete Round', sans-serif;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #050505;
    margin: 1% 0%;
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .overlaydiv p {
    width: 95%;
    text-align: left;
    margin: 0% 5%;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    grid-column: 3/5;
    grid-row: 3/7;
  }

  .overlaydiv a {
    padding: 1% 5%;
    margin-right: 5%;
  }

  #desktopitem01 h1 {
    display: none;
  }

  #desktopitem01 p {
    display: none;
  }

  #desktopitem01 ul {
    display: none;
  }

  #desktopitem01 a {
    margin-top: 117%;
    height: 5%;
  }

  #desktopitem01 {
    background-image: url("img/Img\ Placeholder-1.png");
  }

  #dynabuttonpro02,
  #dynabuttonpro03,
  #dynabuttonpro04,
  #dynabuttonpro05,
  #dynabuttonpro06 {
    display: none;
  }

  .works .description,
  .projectlist,
  .button1 {
    padding: 0%;
    margin: 0% 15% 0% 3%;
  }

  .desktopversion {
    max-width: 1368px;
    padding: 0% 5%;
    margin: 0% 5% 5% 5%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    row-gap: 2%;
    column-gap: 2%;
  }

  .about .button1 {
    margin-left: 0%;
    padding-left: 5%;
  }

  .language li {
    margin-bottom: 4%;
  }

  .about {
    padding-top: 10%;
    max-width: 1368px;
    background-image: url("img/illustration-about\ me.svg");
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 5%;
  }

  .languages {
    max-width: 1368px;
    padding-bottom: 0%;
  }

  .language {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10%;
    padding-right: 14%;
    padding-left: 9.5%;
  }

  .flex {
    display: flex;
    align-items: center;
  }

  .language img {
    height: 20px;
    margin-right: 3%;
  }

  .contact {
    flex-direction: row;
    padding: 10%;
  }

  .rule-2 {
    margin: 3% 0% 7% 0%;
    padding: 0%;
    width: 85%;
  }

  .contact form {
    width: 60%;
    margin-left: 5%;
    padding-top: 6%;
  }

  .contact button {
    margin-top: 5%;
    margin-bottom: 10%;
    border: none;
    padding: 3% 0%;
    width: 22%;
    align-self: flex-start;
  }

  .rule-4 {
    background: transparent;
    border: transparent;
    border-radius: 7px 7px 7px 7px;
    margin: 0%;
    padding: 0%;
  }

  .rule-5 {
    margin: 3% 0% 5% 0%;
    padding: 0%;
    width: 100%;
    align-self: center;
  }

  footer .social {
    margin: 1% 0%;
    width: 30%;
    padding-left: 30%;
  }

  .overlaydiv .closer {
    grid-column: 4/5;
    display: flex;
    align-self: center;
    margin-left: 95%;
  }

  .overlaydiv .dynaulproject {
    margin: 0% 0% 2% 0%;
    grid-column: 1/5;
  }

  .overlaydiv .imageproject {
    width: 100%;
    grid-column: 1/3;
    grid-row: 3/12;
    margin-bottom: 0%;
  }

  .overlaydiv .buttonproject {
    grid-column: 3/5;
    grid-row: 7/10;
    margin-top: 33%;
    margin-left: 9%;
  }}
